:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2{
  color: #9D8DF1;
  text-align: center;
}
.btn{
  display: flex;
  justify-content: center;
  width: 100%;
}
.btn button{
  font-size: 1rem;
  background-color: #9D8DF1;
  color: #242424;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0.2rem;
  font-weight: bold;
}
.btn button:hover{
  box-shadow: 0rem 0rem 0.6rem #9D8DF1;
}